*{
    margin: 0;
    padding: 0;
    
}
#main-page-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: initial;
    background-image: url("https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    position: relative;

}
#registration-form{
    position: absolute;
    display: flex;
    flex-direction: row;
    top:10px;
    right: 20px;

}
.hideFrom{
    display: none;
}
.form{


    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    top:30px;
    right: 20px;
}






#registration-form button{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    height: 50px;
    width: 90px;
    background-color: aquamarine;
}

#registration-form button:hover {

    background-color:burlywood;
}

#signOutBtn{
    display: none;
}



#logo{
    display: flex;
    /* align-content: center; */
    height: 350px;
    /* border: 2px solid red; */
    
}

#searchbar{
    display: flex;
    width: 70%;

    border: 1px,solid black;

}

#wel-logo{
    max-height:100%;
     max-width:100%;
}

.badge{

    font-size: 9px;
}
.cards{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.hidden{
    display: none;
}




#result-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    max-width: initial;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#searchBtn2{
    width: 120px;
    font-size: 20px;
}
.nav-bar-search{
    display:flex;
    flex-direction: row
}

#nav-logo{
    height: 200px;
    display: flex;
}

#nav-searchbar{
    display: flex;
    flex-direction: row;
    width: 65%;
    padding-left: 10px;
    padding-top: 68px;


}
.nav-form-control{
    width:900px;
    height: 50PX;

    
}



#card-wrapper{
    flex-wrap:wrap;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    width: 80%;
    
}

.result-card{

    cursor: pointer;
    padding: 10px;
    width: 300px;
    display: flex;
    
}

.card{
    width: 10rem; 
    height: 18rem;
}

.card-title{
    font-size:  20px;
}
#nav-search-btn{
    height: 50px;
    color: rgb(252,220,16);
    background-color: rgb(232,69,69);
}
/* new css tag */

/* .hiddenFullCard{
    display: none;
}


.card-hidden{
    display: none;
} */



.fullCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .nagBar{
    display: flex;
    flex-direction: row;
}
.jpg{
    position: relative;  
} */
/* 
#lapel1,#lapel2,#lapel3,#lapel4{
    position: absolute;
    height: 20px;
} */

/* .recp{
    display: flex;
    flex-direction: row;
}
.ing{
    display: flex;
    flex-direction: column;
}
.nutri{
    display: flex;
    flex-direction: column;
} */
/* .hiddenFullCard{
display: none;
} */


/* fullcard elements css below*/


#full-card-wrapper{
    position: fixed;
    top:10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: aliceblue;
    margin-bottom: 100px;
    
}




#fullcard-container{
    overflow: scroll;
    z-index: 200;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    
    

}

#fullcard-header{
    display:flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    /* position: relative; */
}

#button-container{
    position: absolute;
    right: 20px;
    top: 10px;
    
}

#img-lable-container{
    padding: 10px;
    overflow: hidden;
    height: 356px;
    width: 100%;
    /* border: 2px solid blueviolet; */

}

#img-lable-container img{
    width: 100%; 


}

#label-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 26px;
    top: 100px;
    

}

/* add padding for label , which how to select?*/

#ingredient-nutri-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 700px;
    padding: 10px;
}


#favBtn{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#favBtn .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

#favBtn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  #favBtn:hover .tooltiptext {
    visibility: visible;
  }


  #plusBtn{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#plusBtn .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

#plusBtn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  #plusBtn:hover .tooltiptext {
    visibility: visible;
  }


  #closeBtn{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#closeBtn .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

#closeBtn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  #closeBtn:hover .tooltiptext {
    visibility: visible;
  }



/* .health-label{

} */
#nutri-li{
    font-size: 10px;
    /* color: aqua; */
}


/* map elements --------*/

#mapHide{
    /* display: none; */

    /* position: fixed;
    top:10px; */

    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:20000;
    background-color:red;
    margin-bottom: 100px;

}

#map {
    height: 100%;
}

#checkbox-container{
    display: flex;
    flex-direction: row;
}